<div class="container">
    <button class="btn btn-outline-primary" (click) = "get404Error()">Get 404 Error</button>
    <button class="btn btn-outline-primary" (click) = "get500Error()">Get 500 Error</button>
    <button class="btn btn-outline-primary" (click) = "get400Error()">Get 400 Error</button>
    <button class="btn btn-outline-primary" (click) = "get400ValidationError()">Get 400 Validation Error</button>
    <div class="container" *ngIf="validationErrors">
        <ul>
            <li class="text-danger" *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
</div>
