<div class="container mt-5">
    <div class="row">
        <ng-container *ngIf="productBrands && productTypes">
            <section class="col-3">
                <h5 class="text-warning ml-3">
                    Sorting
                </h5>
                <select class="custom-select mb-2" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let options of sortOptions" [value]="options.value">{{options.name}}</option>>
                </select>
                <h5 class="text-warning ml-3">
                    Brands
                </h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let brand of productBrands"
                        [class.active]="brand.id === this.shopParams.brandId" [value]="brand.id"
                        (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
                </ul>
                <h5 class="text-warning ml-3">
                    Types
                </h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let type of productTypes"
                        [class.active]="type.id === this.shopParams.productTypeId" [value]="type.id"
                        (click)="onTypeSelected(type.id)">{{type.name}}</li>
                </ul>
    
            </section>
        </ng-container>
        
        <section class="col-9">
            <ng-container *ngIf="products">
                <div class="d-flex justify-content-between align-items-center pb-2">
                    <app-paging-header
                    [totalCount]="totalCount"
                    [pageNumber]="this.shopParams.pageNumber"
                    [pageSize]="this.shopParams.pageSize"
                    ></app-paging-header>
                     <div class="form-inline mt-2">
                         <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #search style="width: 300px;" placeholder="search">
                         <button class="btn btn-outline-primary my-2" (click) = "onSearch()">Search</button>
                         <button class="btn btn-outline-success my-2 ml-2" (click) = "onReset()">Reset</button>
                     </div>
                 </div>
            </ng-container>
            

            <div class="row">
                <div class="col-md-4 mb-5" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
           <app-pager [totalCount]="this.totalCount" [pageSize]="this.shopParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
        </section>
    </div>
</div>